{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-lg-8 offset-lg-2 col-md-2 offset-md-2 col-xs-8 offset-xs-2">
                <div id="image-detail" image-id="{{image.getId()}}">
                    <img src="{{'/images/detail/' ~ image.getHashedName()}}"/>
                </div>

                <hr>
                <div>
                    <div class="float-left">
                        {% if is_granted('like', image) %}
                            {% block like %}
                                <div id="like">
                                    <span class="h4">
                                        <i class="fa fa-thumbs-o-up{% if liked %} liked{% endif %}"></i>
                                    </span>
                                    <small>
                                        <span id="like-count">{{likeCount}}</span>
                                    </small>
                                </div>
                            {% endblock %}
                            {% else %}
                                <small><a href="{{path('login')}}">Login</a> to like this picture</small>
                            {% endif %}

                    </div>
                    <div class="float-right">
                        <small>
                            {{'By'|trans}} <strong>{{image.getUploadedBy().getUsername()}}</strong> &nbsp; &nbsp;
                            {{'Upload date'|trans}} {{image.getCreatedDate()|date('m-d-Y') }}&nbsp; &nbsp;
                            <span id="download">
                                <i class="fa fa-download" aria-hidden="true"></i>
                            </span>
                            {% if is_granted('delete', image) %}
                                <span id="delete"><i class="fa fa-trash" aria-hidden="true"></i></span>
                            {% endif %}
                        </small>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
